<li>
	{{name}}

	<button class="change-yummy" data-id="{{id}}" data-newyummy="{{yummy}}">
		{{#if yummy}}Yummy TIME!{{else}}FEED ME!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">YUCK!</button>
</li>
